<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="h-screen w-screen p-10 space-y-10">
  <div class="w-full flex flex-col items-center justify-center bg-gray-100 border border-sky-500 rounded-xl">
    Roleplay Meets Status
  </div>
  <div class=" flex flex-row gap-6 bg-gray-100 border border-sky-500 rounded-xl">
    <app-servicestatus></app-servicestatus>
    <app-servicestatus [service]="'ageverifier'"></app-servicestatus>
  </div>

</main>


<router-outlet/>
