<div class="flex flex-col items-center justify-center border rounded-2xl shadow-lg h-50 w-60 xl:w-80 duration-500 relative"
     (mouseenter)="selected = true" (mouseleave)=" selected = false" (focus)="selected = true"
     [ngClass]="{
    'h-60': selected,
  }"

>
  <div class="cursor-pointer rounded-2xl  h-full w-full" (click)="getstatus()"
       [ngClass]="{
    'hover:bg-green-300 bg-green-400 border-green-500': status === 'OK',
    'hover:bg-red-300 bg-red-400 border-red-500': status !== 'OK'
  }">


    <div class="w-full rounded-t-xl bg-gray-700 text-white p-2 text-center duration-500 h-10 max-h-30 overflow-hidden"
         [ngClass]="{
      'h-26 xl:h-20': selected,
    }">

      <h1 class="font-bold text-xl">
        {{ service.name }}

      </h1>
      <h6 class="text-sm" *ngIf="selected">
        {{ service.description }}
      </h6>
    </div>

    <div class=" text-center">

      <div>
        <h3 class="font-bold text-xl">
          {{ status }}
        </h3>
      </div>
      <div class="grid grid-cols-3">
        <div class="col-span-1">
          <span class="text-xs text-gray-700">{{ service.fields["high"] }}</span>
          <p class="font-bold text-lg">{{ high }}</p>
        </div>
        <div class="col-span-1">
          <span class="text-xs text-gray-700">{{ service.fields["medium"] }}</span>
          <p class="font-bold text-lg">{{ med }}</p>
        </div>
        <div class="col-span-1">
          <span class="text-xs text-gray-700">{{ service.fields["low"] }}</span>
          <p class="font-bold text-lg">{{ low }}</p>

        </div>

      </div>

      <p
        class="text-xs text-gray-700 bottom-0"
      >
        Last checked {{ last_updated_at }}<br>
        <span class="text-xs text-gray-700">Click to refresh</span>
      </p>


    </div>

  </div>
  <a href="{{ service.url }}" class="absolute bottom-0 w-full  p-2 bg-indigo-300 rounded-b-2xl text-center text-white">
    Visit
  </a>

</div>

